<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Classification</title>
</head>
<body>

    <div class="container">
    <div class="row">

        <div class="col-sm">
          <span class="border border-primary">
            <img src="{{ user_image }}" alt="Selected Image" class="img-thumbnail">
          </span>
        </div>

        <div class="col-sm">
          <h1>Class: <span class="badge badge-secondary"> {{predict}}</span></h1>
        </div>

    </div>
    </div>


</body>
</html>